* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    background-color: rgb(53, 52, 52);
}

main {
    /* background-color: white; */
    width:  300px;
    margin: 4em 0 0 20em;
    height: 80vh;
}
/* Cover / HEADER*/
#coverContenedor {
    position: relative;
    height:300px;
}

#cover {
    position: absolute;
    max-width: 300px;
    z-index: -1;
}

#botonList {
    background-color:unset;
    border: none;
    position: absolute;
    right: 10px;
    top: 15px;
}

#tiemAct {
    position: absolute;
    bottom: 3px;
    left: 3px;
    color: white;
    background-color: unset;
}

#tiemTot {
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: white;
    background-color: unset;
}

#listaCanciones {
    font-size: 0.8em;
    padding: 1em;
    position: absolute;
    z-index: -2;
    background-color: rgb(151, 151, 151);
    width: 22em;
    top: 20px;
    left: 0;
    transition: all ease-in 0.5s;
}

.cancion {
    margin: 6px;
    color: #2e2e2e;
}

.cancion hr {
    margin-top: 2px;
    text-align: center;
    width: 80%;
    border-style: solid;
    border-color: #838383;
}


/* Controles y Datos*/

#panelControl {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

#titulo {
    font-weight: bolder;
}
#artista {
    margin-top: -2em;
}
#controles img {
    margin: 0 1em;
}

/*Panel Con frase*/

#panelInformativo {
    background-color: rgb(223, 235, 245);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Barra estado*/ 
.area-estado {
    cursor: pointer;
}

#barraEstado {
    background-color: black;
    height: 5px;
    width: 0;
}
 

/* EFECTOS */

